.flex {
    background-color: #ddd;
    max-width: 700px;
    height: 400px;
    display: flex;
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
}

.box1 {
    width: 200px;
    height: 100px;
    background-color: red;
}

.box2 {
    width: 200px;
    height: 100px;
    background-color:blue;
}

.box3 {
    width: 200px;
    height: 100px;
    background-color:green;
}