a {
    color: #333;
    text-decoration: none;
}
.cmn-title {
text-align: center;
font-weight: bold;
}
.sub-title {
    display: block;
    color: #38b6ff;
}
.main-title {
    display: block;
    font-size: 28px;
}

.sp-only {
    display: none;
}

.header {
    display: flex;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-list {
    display: flex;

}

.header-item {
    margin-left: 40px;
}

@media(max-width:599px) {
    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
    html {
        font-size: 14px;
    }

    .header {
        width: 95%;
        height: 80px;
        margin: 0 auto;
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }

    .hamburger-btn {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
    }

    .show.hamburger-btn span {
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: all 0.5s;
        border-radius: 4px;

    }

    .hamburger-btn span {
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: all 0.5s;
        border-radius: 4px;

    }

    .hamburger-btn span:nth-child(1) {
        top: 4px;
        transform: none;
    }

    .hamburger-btn span:nth-child(2) {
        top: 14px;
        opacity: 1;
    }

    .hamburger-btn span:nth-child(3) {
        bottom: 4px;
        transform: none;
    }

    .hamburger-btn.show span:nth-child(1) {
        transform: translateY(10px) rotate(-135deg);
    }

    .hamburger-btn.show span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-btn.show span:nth-child(3) {
        transform: translateY(-10px) rotate(135deg);
    }

    .hamburger-btn:hover {
        cursor: pointer;
    }

    .hamburger-menu {
        position: fixed;
        top: 80px;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        text-align: center;
        display: none;
    }

    .hamburger-menu.show {
        display: block;
        transition: all 10s;
        transform: 0.2s;
    }

    .header-list {
        display: block;
    }

    .header-list li {
        margin: 80px 0;
      }
    .header-list a {
        font-size: 40px;
        font-weight: 700;
    }

    .header-list a:hover {
        cursor: pointer;
        background-color: #ccc;
        opacity: 0.8;
    }

    .header-item {
        font-size: 16px;
    }
}

/* slider */

.slider {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.firstview {
    background-image: url(../image/beauty1.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
}

.firstview-message {
    display: inline-block;
    padding-top: 450px;
    font-size: 50px;
    font-family: 'Mr Dafoe', cursive;
    background: -webkit-linear-gradient(45deg, #fcff54, #d0ff92 20%, #76ff7d 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: blue;
    transform: rotate(-10deg);
    letter-spacing: 0.05em;
    z-index: 2;
}

.beauty1 {
    background-image: url(../image/beauty5.webp);
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
}

.beauty2 {
    background-image: url(../image/beauty3.webp);
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
}
.beauty3 {
    background-image: url(../image/beauty8.webp);
    background-size: cover;
    background-position: center;
    height: 700px;
    margin: 0 auto;
    z-index: 1;
}

.beauty-text {
    display: inline-block;
    padding-top: 450px;
    font-size: 50px;
    font-family: 'Mr Dafoe', cursive;
    color:#000;
    transform: rotate(-10deg);
    letter-spacing: 0.03em;
    z-index: 2;
}
.beauty-text1 {
    display: inline-block;
    padding-top: 500px;
    padding-left: 120px;
    font-size: 50px;
    font-family: 'Mr Dafoe', cursive;
    color: #000;
    transform: rotate(-10deg);
    letter-spacing: 0.03em;
    z-index: 2;
}

button {
    /* display: block; */
    width: 8px;
    height: 8px;
    margin: 0 30px;
    z-index: 10;
}

/* .slick-arrow:before {
    content:""!important;
} */

.slick-arrow:before {
    content:""!important;
    width: 100%!important;
    height:100%!important;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before {
    content:""!important;
    background-image: url(../image/button-right.jpeg);
    background-size: contain!important;
}

.slick-prev:before {
    content:""!important;
    background-image: url(../image/button-left.jpeg);
    background-size: contain!important;
}

@media (max-width:1024px) {
    .firstview-message {
        font-size: 40px;
        letter-spacing: 0.03em;
    }

    .beauty-text {
        padding-top: 400px;
    }
}

/* .concept */

.concept {
    max-width: 1024px;
    margin: 100px auto 0;
}

.concept-wapper {
    display: flex;
    margin-top: 60px;
}

.concept-inner {
    margin-left: 30px;
    margin-right: 30px;
}

.concept-gteeting {
    max-width: 800px;
    margin: 60px auto 0;
}

.concept-image img {
    width: 400px;
    border-radius: 20px;
}

.concept-subtitle {
    font-size: 24px;
    font-weight: 600;
}

.concept-desc {
    margin-top: 10px;
    line-height: 1.5em;
}

.concept-text {
    max-width: 800px;
    margin: 120px auto 0;
}

.concept-list {
    margin-top: 10px;
}

.concept-list {
    display: block;
}

.concept-list li:nth-child(n+2) {
    margin-top: 20px;
}

.concept-career-career {
    margin-top: 30px;
}

@media (max-width:768px) {
    .concept {
        margin-top: 50px;
    }
    .concept-gteeting {
        margin-top: 0;
    }

    .concept-list li:nth-child(n+2) {
        margin-top: 10px;
    }
}

@media (max-width:599px) {
    .concept-wapper {
        display: block;
    }

    .concept-image {
        width: 95%;
        margin: 0 auto;
    }

    .concept-image img {
        width: 100%;
    }

    .concept-gteeting {
        margin-top: 10px;
    }

    .concept-text {
        margin-top: 20px;
    }
}

/* menu */

.menu {
    max-width: 1024px;
    margin: 100px auto 0;
    padding: 0 16px;
}

.menu-list {
    margin-top: 60px;
}

.menu-list li:nth-child(n+2){
    margin-top: 60px;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 80px;
    flex-basis: 100%;
}

.menu-item.reverse {
    flex-direction: row-reverse;
}

.menu-image {
    width: 400px;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

.menu-image1 {
    width: 400px;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

.menu-image img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.menu-image1 img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.menu-text{
    margin: auto 0;
}

.menu-name {
    display: block;
    font-size: 24px;
    font-weight: 600;
    /* text-align: center; */
}

.menu-desc {
    margin-top: 15px;
}

@media (max-width:768px) {
    .menu-name.pc-only {
        display: none;
    }

    .menu {
        margin-top: 50px;
    }

    .menu-list li:nth-child(n+2) {
        margin-top: 20px;
    }

    .menu-item {
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    .menu-image {
        width: 100%;
        height: 100%;
    }

    .menu-image1 {
        width: 100%;
        height: 100%;
    }

    .menu-image img{
        width: 700px;
        height: 600px;
    }

    .menu-image1 img{
        width: 700px;
        height: 600px;
    }

    .menu-text {
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width:599px) {
    .menu-list {
        max-width: 500px;
        margin: 60px auto 0;
    }

    /* .menu-item {
        width: 230px;
    } */
}

/* business */
.business {
    max-width: 900px;
    margin: 50px auto 0 ;
    font-size: 18px;
}

table {
    width: 100%;
    height: 100px;
    margin-top: 50px;
    border: 2px solid #000;
}

th {
    border: 1px solid #000;
    padding: 20px;
}


@media screen and (min-width:599px) {
    business {
        font-size: 14px;
    }

    business-image {
        width: 50%;
    }

    business-text {
        margin-top: 30px;
        width: 50%;
        padding: 0;
    }
}

/* contact */

.contact {
    height: 650px;
    margin: 50px 0;
}

form {
    max-width: 600px;
    margin: 50px auto;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1.5px solid #aaa;
    padding: 50px 30px;
}

.contact-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.contact-label {
    float: left;
    margin-right: 20px;
    width: 150px;
    border-left: 3px solid #c2704f;
    padding-left: 20px;
}

.inputs {
    float: left;
    width: 300px;
}

input[type="text"],
input[type="email"] {
    border: solid 1px #aaa;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

textarea {
    border: solid 1px #aaa;
    padding: 10px;
    height: 160px;
    width: 300px;
    font-size: 15px;
    border-radius: 5px;
    display: table-cell;
    vertical-align:top;
}

.button-area {
    text-align: center;
}

input[type="submit"] {
    background: #c2704f;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

input[type="reset"] {
    background: #ccc;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

/* footer */

.footer {
    background-color: #ccc;
    padding: 30px 16px 10px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
}

.footer-item {
    font-size: 20px;
}

.copyright {
    margin-top: 30px;
    text-align: center;
}
@media(max-width:599px) {
    .footer-item a {
        font-size: 14px;
    }
}

.slider {
    visibility:hidden;
}
.slider.slick-initialized {
    visibility: visible;
}

#page-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    background: #fff;
    color: #737373;
    padding: 10px;
    border: solid 1px;
    border-radius: 50%;
    box-shadow: 0 2px 10px -6px rgba(0, 0, 0, .5), 0 3px 10px -4px rgba(0,0,0,.2);
  }